[Desktop Entry]
Name=Frostbyte Terminal
Comment=A rust based dropdown terminal
Exec=frostbyte_terminal
Icon=frostbyte_terminal
Type=Application
Terminal=false
Categories=Utility;

