[Desktop Entry]
Name=Frostbyte Terminal
Comment=A rust based dropdown terminal
Exec=frostbyte-terminal
Icon=frostbyte-terminal
Type=Application
Terminal=false
Categories=Utility;

